<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

	<targets> 
		<target xsi:type="File" name="errorLog" fileName="${basedir}/Logs/${shortdate}.log" 
				layout="${longdate}${newline}${aspnet-user-identity}(${aspnet-request:serverVariable=remote_addr})${newline}${message}" /> 
		<target xsi:type="File" name="debugLog" 
				fileName="${basedir}/Logs/Debug/${shortdate}.log" layout="${longdate}${newline}${message}" /> 
		<target xsi:type="File" name="infoLog" fileName="${basedir}/Logs/Info/${shortdate}.log" 
				layout="${longdate}${newline}${aspnet-user-identity}(${aspnet-request:serverVariable=remote_addr})${newline}${message}" />
	</targets>

	<rules>
		<logger name="*" level="Debug" writeTo="debugLog" />
		<logger name="*" level="Error" writeTo="errorLog" />
		<logger name="*" level="Info" writeTo="infoLog" />
	</rules>

</nlog>
